<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      {{#if user.image}}
      <img src="{{user.image}}" width="300px" height="300px" />
      {{else}}
      <img src="https://via.placeholder.com/300" width="300px" height="300px" />
      {{/if}} 
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">
          {{user.email}}
        </p>
        <p>
          {{#ifCond user.id currentUser.id }}
          <a href="/users/{{user.id}}/edit"><button type="submit" class="btn btn-primary">edit</button></a>
          {{/ifCond}}
        </p>
      </div>
    </div>
  </div>
</div>

  <div class="col-md-6">
    <div class="card mt-5">
      <h6 class="card-header">已評論餐廳：</h6>
      <div class="card-body">
        {{#each user.Comments}}
        <a href="/restaurants/{{this.RestaurantId}}" style="display: inline-block;">
          <img src="{{this.Restaurant.image}}" class="mx-2" style="width: 5rem; height: 5rem; border-radius:50%;">
        </a>
        {{/each}}
      </div>
    </div>
  </div>